**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.db
**/bin
**/lib
**/docker-compose*
**/compose*
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml
**/.DS_Store
README.md
